<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eticket_admin">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".admin.removeuser.RemoveTopupActivity"></activity>
        <activity android:name=".admin.removeuser.RemoveConductorActivity" />
        <activity android:name=".admin.removeuser.RemovePassengerActivity" />
        <activity android:name=".admin.confirmuser.ConfirmAdminActivity" />
        <activity android:name=".admin.confirmuser.ConfirmTopupActivity" />
        <activity android:name=".admin.confirmuser.ConfirmConductorActivity" />
        <activity android:name=".admin.confirmuser.ConfirmPassengerActivity" />
        <activity android:name=".topup.TopUpChangePasswordActivity" />
        <activity android:name=".admin.admin_profile" />
        <activity android:name=".admin.fare_update" />
        <activity android:name=".admin.removeuser.removeuser" />
        <activity android:name=".admin.adduser" />
        <activity android:name=".conductor.passenger_list" />
        <activity android:name=".conductor.trip_details" />
        <activity android:name=".conductor.new_trip_create" />
        <activity android:name=".conductor.trip_setting" />
        <activity android:name=".conductor.timeout_screem" />
        <activity android:name=".conductor.confirm_ticket" />
        <activity android:name=".conductor.scan_ticket" />
        <activity android:name=".topup.menu_topup" />
        <activity android:name=".conductor.menu_conductor" />
        <activity android:name=".saveuser" />
        <activity android:name=".signup" />
        <activity android:name=".admin.main_menu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>